<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74421600413-buju50unf55gqgr2ar56lc2fb39jn9sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74421600413-buju50unf55gqgr2ar56lc2fb39jn9sr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74421600413-lc9rc2560q741afo13bc3q6b86sl05ch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGKlcCedFI1IpEeyTvdUm7nQ0uRzK2lk4</string>
	<key>GCM_SENDER_ID</key>
	<string>74421600413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.awal.mastermind</string>
	<key>PROJECT_ID</key>
	<string>mastermind-12065</string>
	<key>STORAGE_BUCKET</key>
	<string>mastermind-12065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74421600413:ios:2d88383408e6369a085474</string>
	<key>DATABASE_URL</key>
	<string>https://mastermind-12065.firebaseio.com</string>
</dict>
</plist>